cluster:
  mkdir -p logs/{rule} &&
  sbatch
    --account={resources.account}
    --partition={resources.partition}
    --nodes={resources.nodes}
    --ntasks={threads}
    --mem={resources.mem}
    --time={resources.time}
    --job-name=smk-{rule}-{wildcards}
    --output=logs/{rule}/smk-{rule}-{wildcards}-{jobid}.out
default-resources:
  - account="p31648"
  - partition="normal"
  - nodes=1
  - mem="5G"
  - time="01:00:00"
jobs: 100
restart-times: 2
max-jobs-per-second: 15
max-status-checks-per-second: 1
local-cores: 5
latency-wait: 60
keep-going: True
rerun-incomplete: True
printshellcmds: True
scheduler: greedy
use-conda: True
#  - account="p31468" #"b1042"
#  - partition="normal" #genomics
